h1{
  text-align: center;
}
.textoInicial{
  text-align: center;
  margin: 20px 50px 20px 50px;
  color: rgb(90, 89, 89)
}
hr{
  width: 82%;
  border: 0.8px solid rgb(172, 172, 172);
}
h2{
  text-align: center;
  margin: 50px 0px 50px 0px;
  font-family: Verdana;
  font-stretch: ultra-expanded;
}

h3{
  border-bottom: solid 1px rgb(172, 172, 172);
  display: inline-block;
}
.w-100{
  margin: 20px 0px 50px 0px;
  height: 350px;
}
@media (min-width: 991.99px) {
  .textoInicial{
    padding: 0% 20% 0% 20%
  }

}
