<div class="row justify-content-md-center">

  <div class="col-lg-12 col-sm-12">
    <h1 class="display-4"> Salones para eventos Pérez</h1>
  </div>
  <div class="col-12">
    <p class="textoInicial">Veni a disfrutar de nuestros salones para organizar el evento que desees al mejor precio, sdfasdfsdfsadfdsfsdfsdfsd
    safsadfsd adfas dfasdfsadf sdfsadfsdf asdfsadf sadfsd fsdf sadfas dfsdfsadfsdfasdfsdf asdfasd sdfsdf sadf sa dfsadfsadfas df sadf sadf onloadedmetadata=
  sdfsadfsdf sadfasdf sadfasd f</p>
  </div>

</div>
<hr>
<h2 class="display-4">Nuestros Salones</h2>

<div class="salon">
  <app-salon *ngFor="let room of rooms" [room]="room"></app-salon>
</div>
