<div class="col-md-3">
  <label for="">Nombre</label>
  <input type="text" class="form-control" #name>
</div>
<div class="col-md-3">
  <label for="">Apellido</label>
  <input type="text" class="form-control" #surname>
</div>
<div class="col-md-3">
<label for="">Telefono</label>
<input type="tel" class="form-control" #phone>
</div>
<div class="col-md-3">
<label for="">Terjeta Paga</label>
<select name="" id="" class="form-control" #payCard>
  <option value="true">Si</option>
  <option value="false">No</option>
</select>
</div>
<div class="col-md-12">
  <button (click)="saveGuest(name.value,surname.value,phone.value,payCard.value)" class="btn btn-secondary" >Guardar Invitado</button>
</div>
