
h3{
  margin-bottom: 30px;
  font-weight: bold;
}
.margen{
  margin-top: 5%;
}
.img-thumbnail{
  border: solid 0px ;
  padding: 0;
}

@media (min-width: 991.99px) {
  h3{
    margin-bottom: 60px;
  }
}
