<div class="row">
  <div class="col-md-6 col-sm-12 offset-md-1">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="17">
        <agm-marker [latitude]="lat" [longitude]="lng"  ></agm-marker>
     </agm-map>
  </div>
  <div class="col-md-5 col-sm-12 contact">
      <h3>Contacto</h3>
      <ul>
        <li><i class="fas fa-map-marker"></i><p> San Martin 1770, Pérez(2121)</p></li>
        <li><i class="fas fa-mobile"></i><p> 0341-6935587 / 0341-5699635</p></li>
        <li><i class="fas fa-phone"></i><p> 0341-4953717</p></li>
        <li><i class="fas fa-envelope"></i><a href="milto:claudiaangelamerlo1965@gmail.com"> claudiaangelmerlo1965@gmail.com</a></li>
      </ul>
  </div>
</div>