h4{
    color: rgb(151, 151, 151)
}
h3{
    display: inline-block
}
p{
    display: inline-block
}
agm-map {
    height: 300px;
    
  }
@media (min-width: 400px) {
    h4{
      margin: 0% 20% 0% 20%
    }
}