<div class="row align-items-end">
  <div class="col-12">
    <footer>

      <h3>Contacto</h3>
      <ul>
        <li><i class="fa fa-map-marker fa-lg " aria-hidden="true"></i>San Martin 1770, Pérez(2121)</li>
        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i>0341-6935587 / 0341-5699635</li>
        <li><i class="fa fa-envelope fa-lg" aria-hidden="true"></i><a href="milto:claudiaangelamerlo1965@gmail.com">claudiaangelmerlo1965@gmail.com</a></li>
      </ul>



    </footer>
  </div>

</div>
