.row{
    margin: 10px 5px 5px 5px;
  }
  
  label{
    margin-top: 10px
}  
.listaSign{
  display: none
}
.tipo{
  display: none
}
.alert-sing{
  display: none
}
.alert-sing-save{
  display: none
}
.buttonSaveSign{
  display: none
}
h3{
  margin-top: 20px;
}
.btn.btn-success{
  display: inline;
}
.deletedSign{
  display: none
}
  @media (max-width: 991.99px) {
  
  form{
    margin-bottom: 5%
  }
  }
  