<h1>Fecha: {{reservation.date | slice:0:10}}</h1>
<div class="row">
  <div class="col-md-4">
    <p>Hora de inicio: {{reservation.startTime | slice:11:16}}</p>
  </div>
  <div class="col-md-4">
    <p>Hora de fin: {{reservation.endTime | slice:11:16}}</p>
  </div>
  <div class="col-md-4">
    <p>Tipo: {{reservation.type}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Fecha: {{reservation.date | slice:0:10}}</p>
  </div>
  <div class="col-md-3">
    <p>Hora de inicio: {{reservation.startTime | slice:11:16}}</p>
  </div>
  <div class="col-md-3">
    <p>Hora de fin: {{reservation.endTime | slice:11:16}}</p>
  </div>
  <div class="col-md-3">
    <p>: {{reservation.startTime | slice:11:16}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Invitados</h2>
    <button (click)="newGuest()"><i class="far fa-plus-square fa-2x"></i></button>
    <button><i class="far fa-trash-alt fa-2x"></i></button>
  </div>
</div>
div
<div class="row">
  <div class="col-md-12">

  </div>
</div>