<h1>Fecha: {{reservation.date | slice:0:10}}</h1>
<div class="row">
  <div class="col-md-4">
    <p>Hora de inicio: {{reservation.startTime | slice:11:16}}</p>
  </div>
  <div class="col-md-4">
    <p>Hora de fin: {{reservation.endTime | slice:11:16}}</p>
  </div>
  <div class="col-md-4">
    <p>Tipo: {{reservation.type}}</p>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <p>Fecha: {{reservation.date | slice:0:10}}</p>
  </div>
  <div class="col-md-3">
    <p>Hora de inicio: {{reservation.startTime | slice:11:16}}</p>
  </div>
  <div class="col-md-3">
    <p>Hora de fin: {{reservation.endTime | slice:11:16}}</p>
  </div>
  <div class="col-md-3">
    <p>: {{reservation.startTime | slice:11:16}}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Invitados</h2>
    <button (click)="newGuest()"><i class="far fa-plus-square fa-2x"></i></button>
    <button (click)="deletedGuestButton()"><i class="far fa-trash-alt fa-2x"></i></button>
  </div>
</div>
<div class="row" [class.new]="newGuestbool">
  <div class="col-md-3">
    <label for="">Nombre</label>
    <input type="text" class="form-control" #name>
  </div>
  <div class="col-md-3">
    <label for="">Apellido</label>
    <input type="text" class="form-control" #surname>
  </div>
  <div class="col-md-3">
  <label for="">Telefono</label>
  <input type="tel" class="form-control" #phone>
  </div>
  <div class="col-md-3">
  <label for="">Terjeta Paga</label>
  <select name="" id="" class="form-control" #payCard>
    <option value="true">Si</option>
    <option value="false">No</option>
  </select>
  </div>
  <div class="col-md-12">
    <button (click)="saveGuest(name.value,surname.value,phone.value,payCard.value)" class="btn btn-secondary" >Guardar Invitado</button>
  </div>
</div>

<div *ngFor="let guest of reservation.guest index as i; first as isFirst">
    <div class="row">
        <div class="col-md-12">
         <button (click)="GuestBool(i)">
           {{guest.name}} {{guest.surname}} <button (click)="deletedGuest(guest._id)" [class.deletedGuest]="deletedGuestbool">x</button>
         </button>
        </div>
     </div>
     <div class="row" [class.updateGuest]="updateGuestBool[i]">
        <div class="col-md-3">
          <label for="">Nombre</label>
          <input type="text" class="form-control" #name value={{guest.name}}>
        </div>
        <div class="col-md-3">
          <label for="">Apellido</label>
          <input type="text" class="form-control" #surname value={{guest.surname}}>
        </div>
        <div class="col-md-3">
        <label for="">Telefono</label>
        <input type="tel" class="form-control" #phone value={{guest.phone}}>
        </div>
        <div class="col-md-3">
        <label for="">Terjeta Paga</label>
        <select name="" id="" class="form-control" #payCard>
          <option value="guest.payCard"></option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        </div>
        <div class="col-md-12">
          <button (click)="updateGuest(guest._id,name.value,surname.value,phone.value,payCard.value,i)" class="btn btn-secondary" >Guardar Cambios</button>
        </div>
      </div>
</div>
