<div class="row">
  <div class="col-lg-2 col-sm-12">
    <button type="button" name="button" class="btn btn-success">Nuevo Salon</button>
  </div>
  <div class="col-lg-8 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
          <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let salon of salones index as i; first as isFirst">
         <th scope="row">{{i}}</th>
         <td>{{salon.name}}</td>
         <td>{{salon.address}}</td>
         <td><button type="button" (click)="goSalon(salon._id)" class="btn btn-primary">Seleccionar</button></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
