<div class="row margen">
  <div class="col-lg-12 col-sm-12">
    <ul class="nav justify-content-center">
      <li class="nav-item">
       <a class="nav-link active" href="#">Reserva</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">Clientes</a>
      </li>
      <li class="nav-item">
       <a class="nav-link" href="#">Menús</a>
      </li>
      <li class="nav-item">
       <a class="nav-link last" routerLink="salones">Salones</a>
      </li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
