.NewDelete{
    margin-bottom: 15px;
    width: 130px;
  }
  .delete{
    display: none;
  }
  .listPrint{
    display: none
  }
  
  @media (min-width: 300px){
    .NewDelete{
      margin-right: 5%;
      margin-left: 5%
    }
  }

  @media print{
    .listPrint{
      display: table-cell
    }
    button{
      display: none
    }
  }