<div class="row">
  <div class="col-lg-2 col-sm-12">
    <button type="button" name="button" (click)="goNewReservation()" class="btn btn-success NewDelete">Nueva Reserva</button>
    <button type="button" class="btn btn-danger NewDelete" (click)="deleted()" > Eliminar</button>
  </div>
  <div class="col-lg-8 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
          <th scope="col">Cliente</th>
          <th scope="col" class="listPrint">Monto</th>
          <th scope="col" class="listPrint">Salon</th>
          <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let reservation of reservas index as i; first as isFirst">
         <th scope="row">{{i}}</th>
         <td>{{reservation.date | slice:0:10}}</td>
         <td>{{reservation.client.name}} {{reservation.client.surname}}</td>
         <td class="listPrint">{{reservation.amount}}</td>
         <td class="listPrint">{{reservation.room.name}}</td>
         <td>
           <button type="button" (click)="goReservation(reservation._id)" class="btn btn-primary">Seleccionar</button>
          <button type="button" (click)="deleteReservation(reservation._id)" class="btn btn-danger" [class.delete]="delete">X</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>