<div class="row">
  <div class="col-lg-2 col-sm-12">
    <button type="button" name="button" (click)="goNewUsuario()" class="btn btn-success NewDelete">Nuevo Usuario</button>
    <button type="button" class="btn btn-danger NewDelete" (click)="deleted()" > Eliminar</button>
  </div>
  <div class="col-lg-8 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre y Apellido</th>
          <th scope="col">Telefono</th>
          <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let usuario of usuarios index as i; first as isFirst">
         <th scope="row">{{i}}</th>
         <td>{{usuario.name}} {{usuario.surname}}</td>
         <td>{{usuario.phone}}</td>
         <td>
           <button type="button" (click)="goUsuario(usuario._id)" class="btn btn-primary">Seleccionar</button>
          <button type="button" (click)="deleteUsuario(usuario._id)" class="btn btn-danger" [class.delete]="delete">X</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
