<div class="row">
  <div class="col-lg-2 col-sm-12">
    <button type="button" name="button" (click)="goNewMenu()" class="btn btn-success NewDelete">Nuevo Menu</button>
    <button type="button" class="btn btn-danger NewDelete" (click)="deleted()" > Eliminar</button>
  </div>
  <div class="col-lg-8 col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col"></th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let menu of menus index as i; first as isFirst">
         <th scope="row">{{i}}</th>
         <td>{{menu.name}}</td>
         <td>{{menu.price}}</td>
         <td>
           <button type="button" (click)="goMenu(menu._id)" class="btn btn-primary">Seleccionar</button>
          <button type="button" (click)="deleteMenu(menu._id)" class="btn btn-danger" [class.delete]="delete">X</button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
</div>