<form>
  <div class="row">
    <div class="col-md-4">
      <label >Nombre</label>
      <input type="text" class="form-control" #name value="{{salon.name}}">
    </div>
    <div class="col-md-4">
      <label >Dirección</label>
      <input type="text" class="form-control" #address value="{{salon.address}}">
    </div>
    <div class="col-md-4">
      <label >Capacidad</label>
      <input type="number" class="form-control" #capacity value="{{salon.capacity}}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label>Descripción</label>
      <input type="text" class="form-control description" #description value="{{salon.description}}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 offset-md-2 col-6 marginbutton">
        <button  class="btn btn-primary" type="button" (click)="save(name.value,address.value,capacity.value,description.value)">Guardar</button>
    </div>
    <div class="col-md-5 col-6">
        <button type="button" class="btn btn-secondary" (click)="goBack()" >Atras y Deshacer</button>
    </div>
  </div>
</form>
